In [85]:
import pandas as pd
import numpy as np

pd.set_option("display.max.rows",None)
df = pd.read_csv("data/Automobile_data.csv", na_values=np.array(["?","n.a","NaN"]))
#Exercice 1
print("Printing the first 5 rows: ")
print(df.head())
print("Printing the last 5 rows: ")
print(df.tail())
print("#############################################################################")
#Exercice 2
df = df.dropna()
#Exercice 3
print("Printing most expensive car's company name: ")
maxPrice = df["price"].idxmax()
print(df["index"][max_price],df["company"][max_price],df['price'][max_price])
#Exercice 4
print("Printing toyota cars: ")
toyotaCars = df.loc[df["company"] == "toyota"]
print(toyotaCars)
#Exercice 5
print("Printing total cars per company: ")
carsPerCompany = df.groupby(['company']).size().sort_values(ascending=False)
print(carsPerCompany)
#Exercice 6
print("Printing each company(s highest car price: ")
companyHighCar = df[['company','price']].groupby(["company"]).max()
print(companyHighCar)
#Exercice 7
print("Printing averagee mileage of each car making company: ")
avgMileageCompany = df[['company','average-mileage']].groupby(["company"]).mean()
print(avgMileageCompany)
#Exercice 8
dfSortedPrice = df.sort_values(by="price", ascending=False)
print(dfSortedPrice)
#Exercice 9
GermanCars = {
  'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 
  'Price': [23845, 171995, 135925 , 71400]
  }
japaneseCars = {
  'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
  'Price': [29995, 23600, 61500 , 58900]
  }
dfGermanCars = pd.DataFrame(data=GermanCars, index=[0,1,2,3])
dfJapaneseCars = pd.DataFrame(data=japaneseCars, index=[0,1,2,3])
GJCars = dfGermanCars.append(dfJapaneseCars, sort=False)
print(GJCars)
#Exercice 10
Car_Price = {
  'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 
  'Price': [23845, 17995, 135925 , 71400]
  }
car_Horsepower = {
  'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 
  'horsepower': [141, 80, 182 , 160]
  }
dfCarPrice = pd.DataFrame(data=Car_Price)
dfCarHorsePower = pd.DataFrame(data=car_Horsepower)
result = pd.concat([dfCarPrice,dfCarHorsePower], axis = 1, join = 'inner')
print(result)

Printing the first 5 rows:
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
Printing the last 5 rows:
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0
#############################################################################
Printing most expensive car's company name:
47 mercedes-benz 45400.0
Printing toyota cars:
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0
Printing total cars per company:
company
toyota           7
bmw              6
nissan           5
mazda            5
volkswagen       4
mitsubishi       4
mercedes-benz    4
audi             4
jaguar           3
honda            3
chevrolet        3
alfa-romero      3
volvo            2
porsche          2
dodge            2
isuzu            1
dtype: int64
Printing each company(s highest car price:
                 price
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0
Printing averagee mileage of each car making company:
               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                24.000000
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000
    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
25     34         jaguar        sedan       113.0   199.6        dohc
45     61        porsche      hardtop        89.5   168.9        ohcf
24     33         jaguar        sedan       113.0   199.6        dohc
10     13            bmw        sedan       103.5   189.0         ohc
33     45  mercedes-benz        wagon       110.0   190.9         ohc
32     44  mercedes-benz        sedan       110.0   190.9         ohc
9      11            bmw        sedan       101.2   176.8         ohc
6       6           audi        wagon       105.8   192.7         ohc
31     43          mazda        sedan       104.9   175.0         ohc
4       4           audi        sedan        99.4   176.6         ohc
8      10            bmw        sedan       101.2   176.8         ohc
2       2    alfa-romero    hatchback        94.5   171.2        ohcv
1       1    alfa-romero  convertible        88.6   168.8        dohc
7       9            bmw        sedan       101.2   176.8         ohc
54     79         toyota        wagon       104.5   187.8        dohc
5       5           audi        sedan        99.8   177.3         ohc
3       3           audi        sedan        99.8   176.6         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
0       0    alfa-romero  convertible        88.6   168.8        dohc
60     88          volvo        wagon       104.3   188.8         ohc
19     28          honda        sedan        96.5   175.4         ohc
59     87          volvo        sedan       104.3   188.8         ohc
30     39          mazda    hatchback        95.3   169.0       rotor
20     29          honda        sedan        96.5   169.1         ohc
58     86     volkswagen        sedan        97.3   171.7         ohc
53     71         toyota        wagon        95.7   169.7         ohc
39     52     mitsubishi        sedan        96.3   172.4         ohc
57     82     volkswagen        sedan        97.3   171.7         ohc
56     81     volkswagen        sedan        97.3   171.7         ohc
52     70         toyota        wagon        95.7   169.7         ohc
55     80     volkswagen        sedan        97.3   171.7         ohc
43     56         nissan        wagon        94.5   170.2         ohc
18     27          honda        wagon        96.5   157.1         ohc
40     53         nissan        sedan        94.5   165.3         ohc
38     51     mitsubishi        sedan        96.3   172.4         ohc
51     69         toyota        wagon        95.7   169.7         ohc
42     55         nissan        sedan        94.5   165.3         ohc
29     38          mazda    hatchback        93.1   159.1         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
41     54         nissan        sedan        94.5   165.3         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
50     68         toyota    hatchback        95.7   158.7         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
49     67         toyota    hatchback        95.7   158.7         ohc
14     17      chevrolet    hatchback        94.5   155.9         ohc
17     20          dodge    hatchback        93.7   157.3         ohc
37     50     mitsubishi    hatchback        93.7   157.3         ohc
28     37          mazda    hatchback        93.1   159.1         ohc
36     49     mitsubishi    hatchback        93.7   157.3         ohc
48     66         toyota    hatchback        95.7   158.7         ohc
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
26           twelve         262               13  36000.0
25              six         176               15  35550.0
45              six         207               17  34028.0
24              six         176               15  32250.0
10              six         182               16  30760.0
33             five         123               22  28248.0
32             five         123               22  25552.0
9               six         121               21  20970.0
6              five         110               19  18920.0
31             four          72               31  18344.0
4              five         115               18  17450.0
8              four         101               23  16925.0
2               six         154               19  16500.0
1              four         111               21  16500.0
7              four         101               23  16430.0
54              six         156               19  15750.0
5              five         110               19  15250.0
3              four         102               24  13950.0
44              six         152               19  13499.0
0              four         111               21  13495.0
60             four         114               23  13415.0
19             four         101               24  12945.0
59             four         114               23  12940.0
30              two         101               17  11845.0
20             four         100               25  10345.0
58             four         100               26   9995.0
53             four          62               27   8778.0
39             four          88               25   8189.0
57             four          52               37   7995.0
56             four          85               27   7975.0
52             four          62               27   7898.0
55             four          52               37   7775.0
43             four          69               31   7349.0
18             four          76               30   7295.0
40             four          55               45   7099.0
38             four          88               25   6989.0
51             four          62               31   6918.0
42             four          69               31   6849.0
29             four          68               31   6795.0
21             four          78               24   6785.0
41             four          69               31   6649.0
15             four          70               38   6575.0
50             four          62               31   6488.0
16             four          68               31   6377.0
49             four          62               31   6338.0
14             four          70               38   6295.0
17             four          68               31   6229.0
37             four          68               31   6189.0
28             four          68               31   6095.0
36             four          68               37   5389.0
48             four          62               35   5348.0
27             four          68               30   5195.0
13            three          48               47   5151.0
       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900
  Company   Price Company  horsepower
0  Toyota   23845  Toyota         141
1   Honda   17995   Honda          80
2     BMV  135925     BMV         182
3    Audi   71400    Audi         160